<!--
    Note: The angular async pipe allows the subscription to observables inside of the angular template syntax.
    It also takes care of unsubscribing from observables automatically.
-->
<div class="display-container">
    <div class="counter-container, mat-h2" *ngIf="images | async as list">
        <P>Total Image(s): {{list.counter}}</P>
    </div>
    <div class="list-container" *ngIf="images | async as list">
        <table mat-table [dataSource]="list.info">
            <ng-container matColumnDef="name">
                <th mat-header-cell class="dc-label" *matHeaderCellDef>Name</th>
                <td mat-cell class="dc-content" *matCellDef="let element">{{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell class="dc-label" *matHeaderCellDef>Date</th>
                <td mat-cell class="dc-content" *matCellDef="let element">{{element.date}} </td>
            </ng-container>
            <ng-container matColumnDef="format">
                <th mat-header-cell class="dc-label" *matHeaderCellDef>Format</th>
                <td mat-cell class="dc-content" *matCellDef="let element"> {{ element.format }} </td>
            </ng-container>
            <ng-container matColumnDef="size">
                <th mat-header-cell class="dc-label" *matHeaderCellDef>Size</th>
                <td mat-cell class="dc-content" *matCellDef="let element">{{element.size}} </td>
            </ng-container>
            <ng-container matColumnDef="thumbnail">
                <th mat-header-cell class="dc-label" *matHeaderCellDef>Image</th>
                <td mat-cell class="dc-content" *matCellDef="let element">
                    <div class="thumbnail" style="background-image: url({{element.dataURL}});" *ngIf="element.dataURL && element.dataURL !== ''">
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
            <ng-container *ngIf="list.info">
                <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" (dblclick)="delete(i)" class="image-row"></tr>
            </ng-container>
        </table>
    </div>
</div>